/*стилі для головної*/
@import "fonts.css";
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
body{
    color: white;
    background-color: var(--neutral-900);
    font-family: "DMSans";
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 270px;
    max-height: 44px;
    margin: 16px;
}

.header_logo{
    height: 24px;
    width: 120px;
    background-image: url("../images/logo.svg") ;
    background-repeat:  no-repeat;
    background-size: cover;

}
@media (min-width: 810px) {
    height: 42px;
    width: 220px;
}
.header_units{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    min-height: 33px;
    font-size: 18px;
    border-radius: 12px;
    color:white;
    background-image:  url("../images/icon-units.svg");
    background-position: 8px center;
    background-repeat:no-repeat;
    background-color:var(--neutral-700) ;
}

.title{
    max-width: 330px    ;
    color: white;
    text-align: center;
    font-family: "Bricolage-Grotesque";
    font-weight: 700 ;
    font-size: 52px;
    margin: 64px auto;
}
@media (min-width: 810px) {
.title{
    min-width: 480px;
}
    @media (min-width: 1441px) {
        .title {
            min-width: 780px;
        }
    }
}
.content{
    margin: 0 auto;
    max-width: 800px;
    min-height: 1200px;
}
@media (min-width: 810px) {
    .content{
        min-height:700px ;
    }
}
.content_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 340px;
    height: 60px;
}

.content_search-input{
    border-radius: 12px;
    font-size: 18px;
    min-height: 56px;
    min-width: 340px;
    margin-bottom: 1rem;
    padding: 16px 0 16px 60px;
    color: var(--neutral-200);
    background-color: var(--neutral-800);
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-position:  16px center;
}
.content_search-input:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--neutral-900),
    0 0 0 4px white;
}
.content_search-input::placeholder{
    color: var(--neutral-200);
    font-size: 16px;
    font-family: "DMSans";
}
.content_search-btn{
    font-size: 20px;
    font-family: "DMSans";
    min-height: 56px;
    min-width: 340px;
    border-radius: 12px;
    background-color: var(--blue-500);
    color: white;
}
.content_search-btn:hover{
    background-color: var(--blue-700);
}
.content_search-btn:active{
    background-color: var(--blue-500);
    outline: none;
    box-shadow: 0 0 0 3px var(--neutral-900),
    0 0 0 4px var(--blue-500);
}
@media (min-width: 810px) {
    .content_search{
        flex-direction:row;

    }
    .content_search-input{
        margin: 0 ;
        min-width: 660px;
    }
    .content_search-btn{
        margin-left: 1rem;
        min-width:120px;
    }
}
.content_main{
    background: url("../images/bg-today-small.svg") no-repeat center;
    height: 290px;
    margin: 60px auto 0 auto;
    max-width: 762px;
}
@media (min-width: 810px){
    .content_main{
        background: url("../images/bg-today-large.svg") no-repeat center;
        height: 340px;
        margin-top: 0;
    }
}
.content_city{
    width: 200px;
    padding-top: 32px;
    color: white;
    margin: 0 auto;
    text-align:  center;
    font-family:  "DMSans";
    font-weight:  bold;
    font-size: 28px;
}
.content_date{
    width: 180px;
    padding-top: 12px;
    color: white;
    opacity: 80%;
    font-family:  "DMSans";
    font-weight: 500;
    font-size: 0.925em;
    margin: 0 auto;
    text-align:  center;
}
.content_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_info-img{
    background: url("../images/icon-sunny.webp") no-repeat center ;
    background-size: cover;
    width: 120px;
    height: 120px;

}
.content_info-temperature{
    color:  white;
    font-family:  "DMSans";
    font-weight: 600;
    font-size:  96px;
    font-style:   italic;
}
@media (min-width: 810px) {
    .content_main{
        display: flex;
        justify-content: space-between;
        align-items:  center;
        padding-right: 24px;
    }
    .content_city_date{
        padding-bottom: 23px;
        padding-left: 24px;
    }
    .content_city{
        padding-top: 0;
        text-align:  left;
    }
    .content_date{
        padding-top: 0;
        margin: 0;
        text-align:  left;
        padding-top: 12px;
    }
}
.grid-item{
    background-color: var(--neutral-700);
    height: 160px;
    min-width: 76px;
    margin: 1rem;
    border-radius: 12px;
    border: 2px solid var(--neutral-600);
}
.content_other_info{
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    max-width: 350px;
    margin: 0 auto ;
}
@media (min-width: 810px){
    .content_other_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
           max-width: 820px;
    }
    .content_other_info>.grid-item{
        flex: 1;
    }
}
.content_other_info-text{
    font-family:  'DMSans';
    font-weight: 500;
    margin: 1.25rem;
    font-size:  1.25em;
    color: var(--neutral-200);
}
.numbers{
    font-family:  'DMSans';
    font-weight: 300;
    font-size:2em;
    margin: 1.25rem;
}
.content_daily_forecast{
    margin: 0 auto;
    max-width: 350px;
}
@media (min-width: 810px){
    .content_daily_forecast{
        max-width: 820px;
    }
}
.content_daily_forecast-text{
    color: white;
    font-family: "DMSans";
    font-weight: 600;
    margin: 1rem;
}
.content_daily_forecast-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}
@media (min-width: 810px) {
    .content_daily_forecast-grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center ;
    }
     .content_daily_forecast-grid>.grid-item{
         flex: 1 1 60px;
    }
}
    .day{
        color: white;
        text-align: center;
        padding: 1rem;
        font-family:  "DMSans";
        font-weight: 500;
        font-size: 20px;
    }

.content_daily_forecast-grid-monday-img{
    background:  url("../images/icon-rain.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.content_daily_forecast-grid-tuesday-img{
     background:  url("../images/icon-sunny.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;

}
.content_daily_forecast-grid-wednesday-img{
    background:  url("../images/icon-partly-cloudy.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;

}
.content_daily_forecast-grid-thursday-img{
    background:  url("../images/icon-snow.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;

}
.content_daily_forecast-grid-friday-img{
 background:  url("../images/icon-rain.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.content_daily_forecast-grid-saturday-img{
 background:  url("../images/icon-drizzle.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.content_daily_forecast-grid-sunday-img{
 background:  url("../images/icon-fog.webp") no-repeat center ;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.content_daily_forecast-temperature{
    color:  white;
    font-family:  "DMSans";
    font-weight: 500;
    display: flex;
    justify-content:  space-between;
    margin: -8px 0.5rem ;
}
.aside_content{
    min-width: 778px;
    margin: 0 auto;
    max-width: 778px;
}
.hourly_forecast{
    background-color: var(--neutral-800);
    border-radius: 12px;
    margin: 1rem;
}
.hourly_forecast-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.hourly_forecast-body{
    padding-bottom: 1rem;
}
.days_form{
    background-color:  var(--neutral-600);
    font-family:   "DMSans";
    font-weight: 500;
    font-size: 0.875em;
    min-width:  60px;
    padding: 8px;
    border-radius: 12px;
}
.hourly_forecast-body-header{
    background-color:  var(--neutral-700);
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border:   1px solid var(--neutral-600);
    border-radius: 12px;
    padding: 0 8px;
    font-family:  'DMSans';

}
.pm_img_hour{
    display:  flex;
    justify-content: flex-start;
    width: 84px;
    align-items: center;
}
.pm-3_img{
    background: url("../images/icon-rain.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
  }
.pm-4_img{
    background: url("../images/icon-snow.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-5_img{
    background: url("../images/icon-drizzle.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-6_img{
background: url("../images/icon-rain.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-7_img{
background: url("../images/icon-fog.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-8_img{
background: url("../images/icon-partly-cloudy.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-9_img{
background: url("../images/icon-sunny.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-10_img{
background: url("../images/icon-storm.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}
.pm-11_img{
background: url("../images/icon-overcast.webp") no-repeat center ;
    background-size:  cover;
    height: 37px;
    width: 37px;
}

.layout {
  display: flex;
  flex-direction: column; /* мобілка: все в стопчик */

}

@media (min-width: 1100px) { /* ноут і вище */
  .layout {
    flex-direction: row;  /* main і aside поруч */
    align-items: flex-start;
  }

  .content_main {
    flex: 2; /* основа більша */
  }

  .aside_content {
    flex: 2; /* збоку менша колонка */
      margin-top:0rem;
  }
}