/*стилі для головної*/
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
body{
    background-color: var(--neutral-900);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 270px;
    max-height: 44px;
    margin: 16px;
}

.header_logo{
    height: 24px;
    width: 120px;
    background-image: url("../images/logo.svg") ;
    background-repeat:  no-repeat;
    background-size: cover;
    /*background-position: center;*/

}
.header_units{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    min-height: 33px;
    font-size: 18px;
    border-radius: 12px;
    color:white;
    background-image:  url("../images/icon-units.svg");
    background-position: 8px center;
    background-repeat:no-repeat;
    background-color:var(--neutral-700) ;
}

.title{
    max-width: 330px    ;
    color: white;
    text-align: center;
    font-family: "Bricolage-Grotesque";
    font-weight: 700 ;
    font-size: 52px;
    margin: 64px auto;
}
@media (min-width: 769px) {
.title{
    min-width: 480px;
}
    @media (min-width: 1441px) {
        .title {
            min-width: 780px;
        }
    }
}
.content_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 340px;
    height: 60px;
}

.content_search-input{
    border-radius: 12px;
    font-size: 18px;
    min-height: 56px;
    min-width: 340px;
    margin-bottom: 1rem;
    padding: 16px 0 16px 60px;
    color: var(--neutral-200);
    background-color: var(--neutral-800);
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-position:  16px center;
}
.content_search-input:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--neutral-900),
    0 0 0 4px white;
}
.content_search-input::placeholder{
    color: var(--neutral-200);
    font-size: 16px;
    font-family: "DMSans";
}
.content_search-btn{
    font-size: 20px;
    font-family: "DMSans";
    min-height: 56px;
    min-width: 340px;
    border-radius: 12px;
    background-color: var(--blue-500);
    color: white;
}
.content_search-btn:hover{
    background-color: var(--blue-700);
}
.content_search-btn:active{
    background-color: var(--blue-500);
    outline: none;
    box-shadow: 0 0 0 3px var(--neutral-900),
    0 0 0 4px var(--blue-500);
}
@media (min-width: 769px) {
    .content_search{
        flex-direction:row;

    }
    .content_search-input{
        margin: 0 ;
        min-width: 570px;
    }
    .content_search-btn{
        margin-left: 1rem;
        min-width:120px;
    }
}
.content{
    margin: 0 auto;
    max-width: 800px;
    height: 1200px;
}